{{ define "main" -}}
<h1>404: Page not found</h1>
<p class="lead">Sorry, we've misplaced that URL or it's pointing to something that doesn't exist. <a
    href="{{ .Site.BaseURL }}">Head back home</a> to try finding it again.</p>
{{- end }}
